#
# WARNING:
# This file is under CM control - all manual changes will be removed
#

local   all             postgres                                peer

# TYPE  DATABASE        USER            ADDRESS                 METHOD
local   all             all                                     peer

host    all             all             {{ access }}            md5
