#
# WARNING:
# This file is under CM control - all manual changes will be removed
#

data_directory = '/var/lib/postgresql/{{ version }}/main'
hba_file = '/etc/postgresql/{{ version }}/main/pg_hba.conf'
ident_file = '/etc/postgresql/{{ version }}/main/pg_ident.conf'

external_pid_file = '/var/run/postgresql/{{ version }}-main.pid'

# --- CONNECTIONS AND AUTHENTICATION

listen_addresses = '{{ listen }}'
port = 5432
max_connections = 100
unix_socket_directories = '/var/run/postgresql'

ssl = true

# --- RESOURCE USAGE (except WAL)

shared_buffers = 24MB

# --- CLIENT CONNECTION DEFAULTS

datestyle = 'iso, mdy'
lc_messages = 'en_US.UTF-8'
lc_monetary = 'en_US.UTF-8'
lc_numeric = 'en_US.UTF-8'
lc_time = 'en_US.UTF-8'
default_text_search_config = 'pg_catalog.english'

