LoadPlugin libvirt
<Plugin libvirt>
    Connection "qemu-kvm:///"
    RefreshInterval 60
#    Domain "name"
#    BlockDevice "name:device"
#    InterfaceDevice "name:device"
#    IgnoreSelected false
#    HostnameFormat name
#    InterfaceFormat name
</Plugin>
