#
# WARNING:
# This file is under CM control - all manual changes will be removed
#

LoadPlugin notify_email
#<Plugin notify_email>
#    SMTPServer "localhost"
#    SMTPPort 25
#    SMTPUser "my-username"
#    SMTPPassword "my-password"
#    From "collectd@main0server.com"
#    # <WARNING/FAILURE/OK> on <hostname>.
#    # Beware! Do not use not more than two placeholders (%)!
#    Subject "[collectd] %s on %s!"
#    Recipient "email1@domain1.net"
#    Recipient "email2@domain2.com"
#</Plugin>
