#
# WARNING:
# This file is under CM control - all manual changes will be removed
#

[radeon]
description=Ubuntu Raring 13.04 radeon
directory=/srv/schroot/radeon
root-users={% for user in salt['pillar.get']('users', {}) %}{% if salt['pillar.get']('users:%s:admin'|format(user), False) == True %}{{ user }},{% endif %}{% endfor %}
type=directory
users={{ salt['pillar.get']('users', {})|join(',') }}
profile=desktop
