#
# WARNING:
# This file is under CM control - all manual changes will be removed
#

[raring64]
description=Ubuntu Raring 13.04
directory=/srv/schroot/raring64
root-users={% for user in pillar['users'] %}{% if 'admin' in pillar['users'][user] and pillar['users'][user]['admin'] == True %}{{ user }},{% endif %}{% endfor %}
type=directory
users={{ pillar['users']|join(',') }}
profile=buildd
