#!/bin/sh
# WARNING:
# This file is under CM control - all manual changes will be removed
#

HOST="127.0.0.1"
PORT=8091
USER="transmission"
PASSWORD="transmission"

echo "Starting torrent complete script: id#$TR_TORRENT_ID" | tee /tmp/transmission-script.log

transmission-remote "$HOST:$PORT" -n "$USER:$PASSWORD" -t$TR_TORRENT_ID --stop
{%- if xbmc_present %}
transmission-remote "$HOST:$PORT" -n "$USER:$PASSWORD" -t$TR_TORRENT_ID --move /srv/media/torrents
chgrp -R xbmc /srv/media/torrents/*
chmod -R g+w /srv/media/torrents/*
{%- endif %}
transmission-remote "$HOST:$PORT" -n "$USER:$PASSWORD" -t$TR_TORRENT_ID --remove

echo "Ending torrent complete script: id#$TR_TORRENT_ID" | tee /tmp/transmission-script.log
