#
# WARNING:
# This file is under CM control - all manual changes will be removed
#

upload_rate = 10
scheduler.max_active.set = 1

port_range = 40890-40890
port_random = no

session_save = yes
encryption = allow_incoming,try_outgoing,enable_retry
use_udp_trackers = yes
scgi_port = localhost:5000
encoding_list = UTF-8

# Enabling dht
dht = auto
dht_port = 6881
peer_exchange = yes

session = /srv/torrent/sessions

# Set default download directory
directory = /srv/torrent/incomplete

# Watch /srv/torrent/watch for new torrent files, download it into /srv/torrent/incomplete automatically.
schedule = watch_directory_1,5,5,"load_start=/srv/torrent/watch/*.torrent,d.set_custom1=/srv/media/torrents"
{% if xbmc_present %}
schedule = watch_directory_2,5,5,"load_start=/srv/torrent/watch/music/*.torrent,d.set_custom1=/srv/media/music"
schedule = watch_directory_3,5,5,"load_start=/srv/torrent/watch/movies/*.torrent,d.set_custom1=/srv/media/video/movies"
schedule = watch_directory_4,5,5,"load_start=/srv/torrent/watch/serials/*.torrent,d.set_custom1=/srv/media/video/serials"
schedule = watch_directory_5,5,5,"load_start=/srv/torrent/watch/clips/*.torrent,d.set_custom1=/srv/media/video/clips"
{% endif %}

# Move the downloaded content into the /srv/media/torrents folder upon completion.
system.method.insert=checkdirs1,simple,"not=\"$equal={d.get_custom1=,d.get_base_path=}\""
system.method.insert=movecheck1,simple,"and={checkdirs1=,d.get_complete=,d.get_custom1=}"
system.method.insert=movedir1,simple,"d.set_directory=$d.get_custom1=;execute=mv,-u,$d.get_base_path=,$d.get_custom1=;d.set_custom1=;d.stop=;d.start="
system.method.set_key=event.download.finished,move_finished,"branch={$movecheck1=,movedir1=}"

# Remove untied (closed) torrents from the list.
schedule = untied_directory,10,10,remove_untied=

# Remove the torrent file upon completion. This unties it.
system.method.set_key = event.download.finished,remove_torrent,"execute=mv,$d.get_tied_to_file=,/srv/torrent/completed"

# Scheduling download rate 23:00-07:00 unlimited, 07:00-23:00 100kbps
schedule = throttle_1,23:00:00,24:00:00,download_rate=0
schedule = throttle_2,09:00:00,24:00:00,download_rate=100

# Log file
log.open_file = "rtorrent.log", /srv/torrent/rtorrent.log

log.add_output = "info", "rtorrent.log"
log.add_output = "torrent_info", "rtorrent.log"
log.add_output = "tracker_info", "rtorrent.log"
log.add_output = "rpc_info", "rtorrent.log"
log.add_output = "connection_info", "rtorrent.log"
log.add_output = "socket_info", "rtorrent.log"
log.add_output = "storage_info", "rtorrent.log"
