#
# WARNING:
# This file is under CM control - all manual changes will be removed
#

# min peers per torrent
min_peers = 1
# max peers per torrent
max_peers = 250
# Same as above but for seeding completed torrents (-1 = same as downloading)
#min_peers_seed = 10
max_peers_seed = 50
# max download/upload rate
download_rate = 0
upload_rate = 10

max_downloads_global = 1

# client open port
port_range = 40890-40890
# random data transmission port number
port_random = no
# save session
session_save = yes
encryption = allow_incoming,try_outgoing
use_udp_trackers = yes
scgi_port = localhost:5000
encoding_list = UTF-8

session = /srv/torrent/sessions

# Set default download directory
directory = /srv/torrent/process

# Watch /srv/torrent/watch for new torrent files, download them to /srv/torrent/process automatically.
schedule = watch_directory,5,5,"load_start=/srv/torrent/watch/*.torrent,d.set_directory=/srv/torrent/process"

# Remove untied (closed) torrents from the list.
schedule = untied_directory,10,10,remove_untied=

# Remove the torrent file upon completion. This unties it.
system.method.set_key = event.download.finished,remove_torrent,"execute=rm,$d.get_tied_to_file="

# Move the downloaded content into the /srv/media/torrents folder upon completion.
system.method.set_key = event.download.finished,move_complete,"execute=mv,$d.get_base_path=,/srv/media/torrents/"
