#
# WARNING:
# This file is under CM control - all manual changes will be removed
#

description "Stream server starting"
author      "Rabit <home@rabits.org>"

start on net-device-up
stop on runlevel [!2345]

kill signal INT

respawn

setuid rstream
setgid rstream

{%- if salt['pillar.get']('rstream:streams:%s:debug'|format(stream), False) %}
env GST_DEBUG=*:4
export GST_DEBUG
{% endif %}
exec /usr/local/bin/rstream.py -v -c /srv/streams/conf/rstream-{{ stream }}.ini
