#
# WARNING:
# This file is under CM control - all manual changes will be removed
#

description "Stream server starting"
author      "Rabit <home@rabits.org>"

start on net-device-up
stop on runlevel [!2345]

kill signal INT

respawn

setuid rstream
setgid rstream

exec /usr/local/bin/rstream.py -v "{{ salt['pillar.get']('rstream:streams:%s:url'|format(stream), 'rtsp://localhost') }}"{% for var, val in salt['pillar.get']('rstream:streams:%s'|format(stream), {}).items() %}{% if var in ['audio', 'output-dir', 'file-name', 'duration-limit', 'reset-url', 'log-file'] %} --{{ var }} '{{ val }}'{% endif %}{% endfor %}
