#
# WARNING:
# This file is under CM control - all manual changes will be removed
#

description "AceVLC startup script"
author      "Rabit <home@rabits.org>"

start on (local-filesystems{% for int in salt['grains.get']('hwaddr_interfaces', []) if int != 'lo' %} and net-device-up IFACE={{ int }}{% endfor %})
stop on (local-filesystems{% for int in salt['grains.get']('hwaddr_interfaces', []) if int != 'lo' %} or net-device-up IFACE={{ int }}{% endfor %})

setuid acestream

exec vlc -I telnet --clock-jitter 0 --network-caching 1000 --sout-mux-caching 2000 --telnet-password acestream
