#
# WARNING:
# This file is under CM control - all manual changes will be removed
#

description "AceProxy startup script"
author      "asavah"

start on (filesystem and net-device-up IFACE!=lo)
stop on runlevel [016]

respawn
respawn limit 10 5

setuid acestream

exec python2 /srv/aceproxy/acehttp.py
