#
# WARNING:
# This file is under CM control - all manual changes will be removed
#

FQDNLookup true

Interval 60
Timeout 20

LoadPlugin syslog
<Plugin syslog>
    LogLevel info
</Plugin>

LoadPlugin network
<Plugin network>
{%- if 'monitorserver' in salt['pillar.get']('net:hosts:%s'|format(grains['id']), {}) %}
    Listen "{{ salt['pillar.get']('net:hosts:%s:ip'|format(grains['id']), 'localhost') }}" "{{ salt['pillar.get']('monitoring:port', '4940') }}"
</Plugin>

LoadPlugin rrdtool
<Plugin rrdtool>
    DataDir "{{ salt['pillar.get']('monitoring:rrd_dir', '/srv/rrd') }}"
    CacheTimeout 1200
    CacheFlush 1800
    WritesPerSecond 40
    RandomTimeout 300
{%- else %}
    Server "{{ salt['pillar.get']('openvpn:ip', '192.168.0.1') if 'client' == salt['pillar.get']('net:hosts:%s:vpn'|format(grains['id']), 'no') else 'stat.'+salt['pillar.get']('net:main_domain', 'localhost') }}" "{{ salt['pillar.get']('monitoring:port', '4940') }}"
{%- endif %}
</Plugin>

LoadPlugin cpu
LoadPlugin cpufreq
LoadPlugin memory
LoadPlugin vmem
LoadPlugin load
LoadPlugin conntrack
LoadPlugin contextswitch
LoadPlugin entropy
LoadPlugin uptime
LoadPlugin users

LoadPlugin df
<Plugin df>
    FSType rootfs
    FSType sysfs
    FSType proc
    FSType devtmpfs
    FSType devpts
    FSType tmpfs
    FSType fusectl
    FSType cgroup
    IgnoreSelected true
</Plugin>

LoadPlugin disk
#<Plugin disk>
#    Disk "hda"
#    Disk "/sda[23]/"
#    IgnoreSelected false
#</Plugin>

LoadPlugin swap
LoadPlugin processes
LoadPlugin interface
LoadPlugin irq

LoadPlugin sensors
#<Plugin sensors>
#    SensorConfigFile "/etc/sensors3.conf"
#</Plugin>

LoadPlugin tail
<Plugin "tail">
  <File "/var/log/auth.log">
    Instance "auth"
    <Match>
      Regex "sshd[^:]*: input_userauth_request: invalid user"
      DSType "GaugeInc"
      Type "gauge"
      Instance "sshd-invalid_user"
    </Match>
    <Match>
      Regex "sshd[^:]*: Accepted password for"
      DSType "GaugeInc"
      Type "gauge"
      Instance "sshd-accepted_password"
    </Match>
    <Match>
      Regex "sshd[^:]*: Accepted publickey for"
      DSType "GaugeInc"
      Type "gauge"
      Instance "sshd-accepted_publickey"
    </Match>
    <Match>
      Regex "sshd[^:]*: Failed password for"
      DSType "GaugeInc"
      Type "gauge"
      Instance "sshd-failed_password"
    </Match>
  </File>
</Plugin>

LoadPlugin tcpconns
<Plugin tcpconns>
  LocalPort "80"
  LocalPort "443"
  LocalPort "{{ salt['pillar.get']('net:ssh_port', '22') }}"
</Plugin>

Include "/etc/collectd/collectd.d/*.conf"
