#
# WARNING:
# This file is under CM control - all manual changes will be removed
#

client
proto udp
dev tun

remote {{ var_vpn_host }}
port {{ var_vpn_port }}

ca {{ var_ca_crt }}
cert {{ var_certs }}/{{ grains['nodename'] }}.crt
key {{ var_keys }}/{{ grains['nodename'] }}.key

tls-client
tls-auth {{ var_vpn_ta }} 1
auth MD5
cipher BF-CBC

ns-cert-type server
comp-lzo

persist-key
persist-tun

status openvpn-status.log
log /var/log/openvpn.log
verb 3
mute 10
