#
# WARNING:
# This file is under CM control - all manual changes will be removed
#

client
proto udp
dev tun

remote {{ vpn_host }}
port {{ vpn_port }}

ca {{ ssl_ca_crt }}
cert {{ ssl_certs }}/{{ grains['nodename'] }}.crt
key {{ ssl_keys }}/{{ grains['nodename'] }}.key

tls-client
tls-auth {{ vpn_ta }} 1
auth MD5
cipher BF-CBC

ns-cert-type server
comp-lzo

persist-key
persist-tun

status openvpn-status.log
log /var/log/openvpn.log
verb 3
mute 10
