#
# WARNING:
# This file is under CM control - all manual changes will be removed
#

port {{ var_vpn_port }}
proto udp
dev tun

ca {{ var_ca_crt }}
cert {{ var_vpn_cert }}
key {{ var_vpn_key }}
dh {{ var_dh }}

client-config-dir {{ var_vpn_ccd }}

# Local networks from 192.168.0.0 to 192.168.15.0
server {{ var_vpn_net }} 255.255.240.0

# Client-Router networks:
{%- for host, args in salt['pillar.get']('net:hosts', {}).items() %}{% if 'route' in args %}
route {{ args['route'] }} {{ var_vpn_mask }} {{ var_vpn_ip }} # {{ host }} subnetwork
{%- endif %}{% endfor %}

tls-server
tls-auth {{ var_vpn_ta }} 0
tls-timeout 120
auth MD5
cipher BF-CBC

client-to-client

keepalive 10 120

comp-lzo

max-clients 10

user nobody
group nogroup

persist-key
persist-tun

status openvpn-status.log
log /var/log/openvpn.log
verb 3
mute 10
