#
# WARNING:
# This file is under CM control - all manual changes will be removed
#

master: {{ salt['config.option']('master') }}
master_port: {{ salt['config.option']('master_port') }}

id: {{ salt['grains.get']('id', 'noname') }}

user: root

cache_jobs: True

acceptance_wait_time: 10

loop_interval: 60

failhard: False

startup_states: 'highstate'

renderer: yaml_jinja

multiprocessing: True

log_level: warning

log_file: file:///dev/log
log_level_logfile: info

tcp_keepalive: True
tcp_keepalive_idle: 300
tcp_keepalive_cnt: -1
tcp_keepalive_intvl: -1

ext_job_cache: ''
