#
# WARNING:
# This file is under CM control - all manual changes will be removed
#

check process salt-minion with pidfile /var/run/salt-minion.pid
    group system
    start program = "/usr/sbin/service salt-minion start"
    stop program  = "/usr/sbin/service salt-minion stop"
    if 5 restarts with 5 cycles then timeout
