#
# WARNING:
# This file is under CM control - all manual changes will be removed
#

server {
    listen   {{ salt['pillar.get']('net:hosts:%s:ip'|format(grains['id']), '0.0.0.0') }}:80;
    server_name stat.{{ salt['pillar.get']('net:main_domain', 'localhost') }};

    allow 192.168.0.0/20;
    deny all;

    root {{ salt['pillar.get']('monitoring:stat_dir', '/srv/www/stat') }};
    charset utf8;
    limit_conn perip 20;
    limit_conn perserver 150;

    client_max_body_size 1m;
    client_body_buffer_size 128k;

    access_log /var/log/nginx/access.{{ salt['pillar.get']('monitoring:conf_filename', 'stat') }}.log;

    location / {
    }

    location /rrd {
        alias {{ salt['pillar.get']('monitoring:rrd_dir', '/srv/rrd') }}/;
        autoindex on;
    }

    # Cache control for static files
    location ~* \.(jpg|jpeg|gif|png|css|js|ico|xml)$ {
        gzip_static   on;
        access_log    off;
        log_not_found off;
        expires       90d;
    }
}

