#
# WARNING:
# This file is under CM control - all manual changes will be removed
#

LoadPlugin ping
<Plugin ping>
{%- for host in salt['pillar.get']('net:hosts', {}) %}
    Host "{{ host }}.vpn"
{%- endfor %}
    Interval 1.0
    Timeout 0.9
    TTL 255
</Plugin>
