#
# WARNING:
# This file is under CM control - all manual changes will be removed
#

127.0.0.1    localhost
{%- for int in salt['grains.get']('hwaddr_interfaces', []) if int != 'lo' %}
{{ salt['grains.get']('ip_interfaces:%s'|format(int), '')|first() }}    {{ grains['fqdn'] }}
{%- endfor %}

{% if salt['additional.state_in'](['openvpn.client']) or salt['additional.state_in'](['openvpn.server']) -%}
# VPN hosts:
{%- for host, args in salt['pillar.get']('net:hosts', {}).items() %}{% if grains['id'] != host and not 'hidden' in args %}
{{ args['ip'] }}    {{ host }}.vpn{% if 'aliases' in args %}{% for alias in args['aliases'] %} {{ alias }}{% endfor %}{% endif %}
{%- endif %}{% endfor %}
{%- endif %}
